<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf</title></head>
<body>
<h1>URL Shortener</h1>
<table th:if="${shortUrl != null}">
    <tr>
        <td>FullUrl :</td>
        <td th:text="${shortUrl.fullUrl}">Full Url</td>
    </tr>
    <tr>
        <td>Short Resource :</td>
        <td>
            <a id="shortResourceForm" target="_blank" th:href="${shortUrl.shortResource}"
               th:text="${shortUrl.shortResource}"></a>
        </td>
    </tr>
    <tr>
        <td>Hit :</td>
        <td th:text="${shortUrl.requestCount}">requestCount</td>
    </tr>
    <tr>
        <td>AggregateDateTime :</td>
        <td th:text="${shortUrl.aggregateDateTime}">AggregateDateTime</td>
    </tr>
</table>
<form action="/" method="post" id="addShortUrlForm">
    <input th:type="text" id="addShortUrl" name="shortResource"/>
    <input th:type="submit" value="추가">
</form>

<form action="/" method="post" id="realAddShortUrlForm">
    <input type="hidden" id="protocol" name="protocol">
    <input type="hidden" id="resource" name="resource">
    <input type="hidden" id="port" name="port">
    <input type="hidden" id="host" name="host">
</form>
<script type="application/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById('addShortUrlForm');
        const inputUrl = document.getElementById('addShortUrl');
        form.addEventListener('submit', (event) => logSubmit(event, inputUrl));

        const shortResourceForm = document.getElementById('shortResourceForm');
        shortResourceForm.prepend(location.protocol + "//" + location.host + "/");

        function logSubmit(event, inputUrl) {
            event.preventDefault();

            function validationAndSetting(inputUrlForm) {
                inputUrl = inputUrlForm.value;
                const protocol = document.getElementById('protocol');
                const resource = document.getElementById('resource');
                const port = document.getElementById('port');
                const host = document.getElementById('host');
                let portNumber = 0;
                let hostValue;
                let resourceValue;
                let protocolValue;
                if (inputUrl.startsWith("https://")) {
                    protocolValue = "HTTPS";
                    inputUrl = inputUrl.replace("https://", "");
                } else if (inputUrl.startsWith("http://")) {
                    protocolValue = "HTTP";
                    inputUrl = inputUrl.replace("http://", "");
                } else {
                    alert("https:// 혹은 http:// 로 시작해야합니다.")
                    return false;
                }
                if (inputUrl.indexOf(":") !== -1) {
                    let split = inputUrl.split(":");
                    hostValue = split[0];
                    let number = split[1].indexOf("/");
                    portNumber = split[1].substr(0, number);
                    if (portNumber < 0 || portNumber > 65535) {
                        alert("포트 번호는 0 이상 65535 이하여야 합니다.");
                        return false;
                    }
                    resourceValue = split[1].substr(number);
                } else {
                    portNumber = 0;
                    let number = inputUrl.indexOf("/");
                    if (number == -1) {
                        hostValue = inputUrl;
                        resourceValue = "/";
                    } else {
                        hostValue = inputUrl.substr(0, number);
                        resourceValue = inputUrl.substr(number);
                    }
                    if (hostValue.indexOf(".") == -1) {
                        alert("host 이름에 '.'이 포함되지 않았습니다.");
                        return false;
                    }
                }
                port.value = portNumber;
                resource.value = resourceValue;
                host.value = hostValue;
                protocol.value = protocolValue;
                return true;
            }

            if (!validationAndSetting(inputUrl)) {
                return;
            }
            const form = document.getElementById('realAddShortUrlForm');
            form.submit();
        }
    });

</script>
</body>
</html>